{% extends "base.html"%}


{% block title %}Registrarse{% endblock %}

{% block content %}
{% load static %}

<br>
    
    <div class="container">
        <div class="row" style="display:flex;justify-content:center;">
            <div class="article-body">
                <h2 style="display:flex;justify-content:center;">Sign Up</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                        <p style="color:#dc3545;font-size:80%;font-weight:bold;text-align:center;">¡UPS! Hay problemas en el formulario. Ingrese todos los campos correctamente</p>
                    {% endif %}
                    {{ form }}
                
                   
                    <div class="sign-up-button-container">
                        <input class="sign-up-button" type="submit" name="submit" value="Sign up">
                    </div>
                    <br>
                    <a href="{% url 'contact:signin' %}">¿Ya registrado? Iniciar sesión</a>
                </form>
            </div>

        </div>

    </div>
{% endblock content %}